* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2C3A47;
}

#container {
    width: 1280px;
    /* height: 720px; */
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: auto;
}

header#header-pai {
    background-color: #0a3d62;
    width: 1280px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
}

div.logo {
    width: 100px;
    height: 50px;
    /* background-color: #2d98da; */
}

div.search {
    width: 788px;
    height: 25px;
    border-radius: 10px;
    background-color: lightblue;
    margin-left: 20px;
    margin-top: 1.5px;
}

div.search h4 {
    color: #353b48;
    text-align: center;
}

nav.navigation {
    width: 200px;
    height: 46px;
    margin-top: 0.9px;
    border-radius: 6px;
    background-color: #0a3d62;
    margin-left: 170px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
}

div.log-in {
    width: 100px;
    /* border: 1px solid black; */
    background-color: lightblue;
    padding: 10px;
    border-radius: 6px;
}

div.log-up {
    width: 100px;
    /* border: 1px solid red; */
    background-color: #40739e;
    padding: 10px;
    border-radius: 6px;
}

.navigation ul {
    /* border: 1px solid black; */
    list-style: none;
}

nav.navigation a {
    text-decoration: none;
    color: #f5f6fa;
    font-size: 13px;
}

nav.navigation a:hover {
    color: #0a3d62;
    text-decoration: underline;
}


aside.menu-left {
    width: 165px;
    height: 668px;
    background-color: lightblue;
    /* text-align: center; */
}

aside.menu-left>nav.menu-navegacao {
    width: 165px;
    /* border: 1px solid red; 
    /* text-align: center; */
}

aside.menu-left>nav.menu-navegacao ul {
    list-style: none;
    margin-top: 20px;
}

aside.menu-left>nav.menu-navegacao li {
    margin: 20px;
    /* border: 1px solid black; */
    width: 165px;
}

aside.menu-left>nav.menu-navegacao ul li a {
    text-decoration: none;
    color: #2f3640;
    /* background-color: #0a3d62;
    border-radius: 6px; */
}

aside.menu-left>nav.menu-navegacao ul li a:hover {
    /* background-color: #0a3d62; */
    color: seashell;
    text-decoration: underline;
}


aside.menu-left>nav.menu-navegacao ul li a:active {
    background-color: #0a3d62;
    color: seashell;
    border-radius: 4px;
}


main.conteudo-principal {
    width: 948px;
    height: 668px;
    background-color: #182C61;
    display: flex;
    flex-flow: row wrap;
}

section.sessao-principal {
    width: 948px;
    height: 120px;
    background-color: #40739e;
}

section.sessao-principal h1 {
    text-align: center;
    color: seashell;
}


aside.menu-right {
    width: 167px;
    height: 668px;
    background-color: lightblue;
}

aside.menu-right>nav.menu-rewards {
    width: 167px;
    /* border: red 1px solid; */
}

aside.menu-right>nav.menu-rewards ul {
    list-style: none;
    margin-top: 20px;
    text-align: center;
}

aside.menu-right>nav.menu-rewards ul li a {
    text-decoration: none;
    color: #2f3640;
    /* background-color: #0a3d62;
    border-radius: 6px; */
}

aside.menu-right>nav.menu-rewards ul li a:hover {
    /* background-color: #0a3d62; */
    color: seashell;
    text-decoration: underline;
}


aside.menu-right>nav.menu-rewards ul li a:active {
    background-color: #0a3d62;
    color: seashell;
    border-radius: 4px;
}


footer.rodape {
    width: 1280px;
    height: 100px;
    background-color: #0a3d62;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer.rodape h4 {
    color: #ffffff;
}

footer.rodape>div.about {
    color: black;
    width: 350px;
    height: 100px;
    /* border: red 1px solid; */
    text-align: center;
}

footer.rodape>div.footer-imagem {
    width: 100px;
}

footer.rodape>div.contact {
    width: 300px;
    height: 100px;
    /* border: 1px solid red; */
    text-align: center;
}

footer.rodape>div.contact ul {
    list-style: none;
    margin-top: 10px;
}

footer.rodape>div.contact a {
    text-decoration: none;
    color: black;
}

footer.rodape>div.contact a:hover {
    /* background-color: lightblue; */
    color: #ffffff;
    text-decoration: underline;
}

footer.rodape>div.contact a:active {
    /* background-color: lightblue; */
    background-color: #182C61;
    border-radius: 4px;
    text-decoration: underline;
}